/*Trending Section*/
#list,
#skeleton-list {
  padding-left: 0px;
}

.trending {
  margin-top: 6rem;
  position: fixed;
  width: 22vw;
  height: calc(100% - 6.5rem);
  overflow: hidden;
  padding: 0 8px;
  margin-left: 20px;
  box-shadow: 0px 0px 20px 2px #a19d9d;
  border-radius: 25px;
  background-color: rgb(38, 37, 37);
}

.first-trending {
  margin-bottom: 20px;
  margin-top: 8px;
  position: relative;
}

.inner-trending {
  overflow: auto;
  margin-top: 1.5rem;
  height: 63%;

  /*to make scroll hidden in broswers*/
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}

.trending-title {
  font-family: "Roboto", sans-serif;
  left: 20px;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  color: #9d6767;
  margin-left: 16px;
}

.trending li {
  margin-bottom: 20px;
  list-style: none;
  position: relative;
}

.trending .inner-trending img {
  max-width: 95%;
  display: block;
  margin: auto;
  border-radius: 20px;
  z-index: 1;
}
.first-trending a img {
  border-radius: 20px;
  position: relative;
  max-width: 100%;
  overflow: hidden;
}

.film-info {
  display: flex;
}

.trending span {
  position: absolute;
  font-weight: 400;
  color: #ffffff;
  font-family: "Roboto", sans-serif;
  left: 12px;
  bottom: 13px;
  font-style: italic;
  z-index: 2;
}

.inner-trending .film-title {
  font-size: 19px;
  left: 1.1vw;
  width: 80%;
}
.first-trending  .film-title{
  font-size: 21px;
  width: 80%;
}

.trending .rank {
  z-index: 5;
  font-size: 17px;
  top: 0;
  margin-left: 1vw;
  margin-top: 2vh;
  color: rgb(255, 60, 0);
}
.first-trending .rank {
  color: gold;
  font-size: 20px;
}

.background-vote {
  background-color: #7571f0;
  border-radius: 10px;
  padding: 0.4rem;
}

.film-info .vote_average {
  font-size: 20px;
  margin-left: 17vw;
}
.first-trending .vote_average {
  font-size: 22px;
   
}

.shadow-trending {
  position: absolute;
  top: 0;
  left: 2%;
  width: 96%;
  height: 100%;
  border-radius: 20px;
  z-index: 2;
  box-shadow: inset 0px -36px 25px rgba(0, 0, 0, 0.8);
}
.shadow-first-trending {
  width: 100%;
  left: 0;
}
.shadow-div {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 2;
  box-shadow: inset 0px -36px 25px rgba(0, 0, 0, 0.7);
}


/*Trending Section*/

/*search Section*/
.search {
  margin-top: 6rem;
  position: fixed;
  right: 20px;
  overflow: hidden;
  width: 21vw;
  height: calc(100% - 6.5rem);
  box-shadow: 0px 0px 20px 10px #aaaaaa;
  background: #7671f0;
  border-radius: 40px;
}
input {
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-size: 19px;
  line-height: 21px;
  color: #cbcbcb;
  margin-left: 1.5vw;
  margin-top: 4vh;
  width: 18vw;

  background-color: transparent;
  border: solid 1px #968989;

  border-radius: 10px;
  padding: 10px;
}
.search-list {
  margin-top: 3rem;
  height: 80%;
  overflow: auto;
  /*to make scroll hidden in broswers*/
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}

.search ul li {
  margin-bottom: 1.8rem;
  list-style: none;
}
.inner-div {
  width: 18vw;
  height: 30vh;
  margin: auto;
  background: linear-gradient(
    62.26deg,
    rgba(214, 214, 214, 0.09) 12.82%,
    rgba(228, 228, 228, 0.4) 90.5%,
    rgba(228, 228, 228, 0.4) 90.5%
  );
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 20px;
}
.search ul li .inner-div img {
  width: 100%;
  height: 30vh;
  display: block;
  margin: auto;
  border-radius: 15px;
  object-fit: cover;
  z-index: 1;
}
/*Search Section*/

/*Recommended setion*/

.middle-section {
  width: 50%;
  flex-direction: column;
  margin-left: 24vw;
}

.recommended-section {
  display: flex;
  padding-top: 5rem;
  width: auto;
  margin-bottom: 3rem;
}
.title {
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-size: 48px;
  font-weight: 900;
  color: black;
  margin-bottom: 16px;
}

#latest {
  position: relative;
}
#latest > a {
  cursor: pointer;
}

#latest > a > img {
  box-shadow: inset 0px -36px 25px rgba(0, 0, 0, 0.4);
  filter: drop-shadow(0px 12px 0px rgba(0, 0, 0, 0.1))
    drop-shadow(0px 6px 0px rgba(0, 0, 0, 0.2));
  border-radius: 20px;
  object-fit: fill;
  width: 50vw;
  height: 45vh;
}
/*Recommended section*/

/*popular section*/
.inner-popular{
  margin-left: 1vw;
}
.inner-popular ul {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr ;
  grid-column-gap: 2rem;
  justify-items: auto;
}
.inner-popular ul li {
  list-style: none;
  max-width: min-content;
}
.inner-popular img {
  border-radius: 20px;
  object-fit: cover;
  width: 10.5vw;
  height: 30vh;
}

.inner-popular .film-info {
  margin-bottom: 3rem;
  font-family: "Roboto", sans-serif;
  font-style: normal;
  display: block;
  padding-left: 6px;
}

.inner-popular .title-rate {
  margin-top: 12px;
  margin-bottom: 5px;
  display: flex;
  justify-content: space-between;
}
#popular-list  li{
 transition: transform 1s;
}
#popular-list li:hover{
  transform: scale(1.2);
  z-index: 2;
  
}
#popular-list  li a {
    text-decoration: none;
   
}




.inner-popular #popular-list li .title-rate .movie-title {
  font-weight: 800;
  font-size: 18px;
  color: #000;
  margin-bottom: 0px;
  width: 75%;
}

.inner-popular #popular-list li .title-rate .rating {
  position: absolute;
  font-weight: 600;
  margin-left: 8.5vw;
  font-size: 17px;
  color: #f0eeee;
}
.relase-date {
  font-size: 15px;
  font-weight: 500;
  color: #968989;
}

/*Popular Section*/
