
.nav-bar {
  position: fixed;
  margin-top: 1.5rem;
  display: flex;
  width: 100%;
  align-items: center;
  flex-wrap: wrap;
  top: 0;
  z-index: 5;
 
  
}
.nav-bar .icon {
  margin-left: 2rem;
  margin-right: 7rem;
  
}


.nav-bar .sections a {
  text-decoration: none;
  color: black;
  cursor: pointer;
  font-family: "Roboto", sans-serif;
  font-size: 21px;
  margin-right: 1rem;
  transition: color .4s ease-in-out, box-shadow .3s ease-in-out;
}

.nav-bar .sections a:hover {
  
   box-shadow: inset 100px 0 0 0 #54b3d6;
  color: white;
}
.nav-bar .sections a.active {
  color: #7671f0;
}
